<div *ngIf="nodes">

  <div style="display: flex;flex-direction: row;">

    <div *ngFor="let node of nodes" style="margin-right: 25px">

      <mat-card style="margin-top: 10px;min-width: 50px">
        <div style="display: flex;">
          <b>Node:</b>
          <span class="spacer"></span>
          <mat-icon>trip_origin</mat-icon>
        </div>

        <p>"{{node.name}}"</p>
        <b>Status:</b>
        <p>Status will be here</p>
      </mat-card>

      <div class="example-container" style="margin-top: 10px;border-radius: 4px">
        <table mat-table [dataSource]="convertToTableFormat(node.messages)">

          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef> Messages</th>
            <td mat-cell *matCellDef="let element"> {{element.message}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
    </div>

  </div>
</div>
